<footer class="footer" id="findUs">
    <h3>Find Us</h3>
    <div>
        <a href="https://www.instagram.com/circle.studio.official/" target="_blank"><i
                class="fa-brands fa-instagram"></i></a>
        <a href="https://maps.app.goo.gl/7CjpHAe5yMWfbUFg6" target="_blank"><i
                class="fa-solid fa-location-dot"></i></a>
        <a href="https://web.facebook.com/circlestudioislamicvideography/?locale=id_ID&_rdc=1&_rdr"
            target="_blank"><i class="fa-brands fa-square-facebook"></i></a>
    </div>

    <p class="copy_right">Copyright ©2024 | Circle Studio</p>
</footer>