{% extends 'layouts/base.html' %}

{% block title %} Halaman Homepage {% endblock %}

{% block content %}

<script src="https://code.jquery.com/jquery-3.7.1.slim.js" integrity="sha256-UgvvN8vBkgO0luPSUl2s8TIlOSYRoGFAX4jlCIm9Adc=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.css" />
<script src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<script>
  swal({
    title: "{{ 'Berhasil' if category == 'success' else 'Peringatan!' }}",
    text: "{{ message }}",
    icon: "{{ category }}",
  });
</script>
{% endfor %}
{% endif %}
{% endwith %}

<div style="background-color: antiquewhite; top: 0;">
  <h1>Halaman Produk</h1>
</div>

<div class="container-tabel" >
  <table id="myTable" border="1"  style="width: 80%;">
    <thead>
      <tr>
        <td>Nama Product</td>
        <td>Image</td>
        <td>Price</td>
        <td>Catagory</td>
        <td>Action</td>
      </tr>
    </thead>

    <tbody>
      {% for product in product %}
      <tr>
        <td>{{ product[1] }}</td>
        <td><img src="{{ product[2] }}" width="100px" alt=""></td>
        <td>{{ product[3] }}</td>
        <td>{{ product[5] }}</td>
        <td>
          <a href="/form-edit-product/{{ product[0] }}" style="text-decoration: none; color: black; border: 1px solid black; background-color: antiquewhite;">Update</a>
          <a href="/delete-product/{{ product[0] }}" style="text-decoration: none; color: black; border: 1px solid black; background-color: antiquewhite;">Delete</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>

<div style="display: flex; justify-content: end; ">
  <a href="/form-product" style="text-decoration: none; color: black; border: 1px solid black; margin-right: 200px; margin-top: 50px; background-color: antiquewhite;">Tambah Product</a>
</div>


<script>
  $(document).ready(function () {
    $('#myTable').DataTable();
  });
</script>

{% endblock %}